<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel = "stylesheet" href = "/static/styles.css">
        <meta charset="UTF-8">
        <title>Hotel</title>
       
        
    </head>
    <body>
      <section id="Home">
        <header>
            <div class="banner">
                <div class="navbar">
                    <img src="/static/logo123.png" class="logo">
                    <ul>
                        <li><a href="/#Home">Home</a></li>
                        <li><a href="/#Rooms">Rooms</a></li>
                        <li><a href="/#book">BOOK NOW!</a></li>
                        <li><a href="/#Profile">Profile</a></li>
                    </ul>   
                    
                </div>
                <title> Create Account </title>
{% load crispy_forms_tags %}
<div class = "content">
{% block content %}
    <form method = "POST" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <button type = "submit" class="btn btn-success">Register</button>
    </form>
{% endblock %}
</div>