<!DOCTYPE html>
<html lang="en">

    <head>
      
        <meta charset="UTF-8">
        <title>Hotel</title>
        <link rel="stylesheet" href="static\styles.css">    
        
    </head>
    <body>
      <section id="Home">
        <header>
            <div class="banner">
                <div class="navbar">
                    <img src="static\logo.png" class="logo">
                    <ul>
                        <li><a href="#Home">Home</a></li>
                        <li><a href="#Rooms">Rooms</a></li>
                        <li><a href="#book">BOOK NOW!</a></li>
                        <li><a href="#Profile">Profile</a></li>
                    </ul>   
                </div>
                
                <div class="content">
                    <h1>Welcome to our Hotel</h1>
                    <p>Hope you enjoy your stay with us!</p>
                    {% if user.is_authenticated %}
                <p>Log out <a href="/logout">Here</a></p>
            {% else %}
                <p>Log in <a href="/login">Here</a></p>
            {% endif %}
                    <div>
                        
                    </div>    
            </div>
        </header>
    </section>
        <section class="offer mtop" id="Rooms">
          <link rel="stylesheet" href="static\books.css">
            <div class="cont">
                <div class="heading">
                  <h5>EXCLUSIVE OFFERS </h5>
                  <h3>You can get an exclusive offer </h3>
                </div>
          
                <div class="content grid2 mtop">
                  <div class="box flex">
                    <div class="left">
                      <img src="static/room1.jpg" alt="">
                    </div>
                    <div class="right">
                      <h4>Deluxe Room</h4>
                      <div class="rate flex">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                      <p> Description.</p>
                      <h5>Cost/Night</h5>
                      
                      <button class="flex1"><a href="/reservation"> 
                        <span>Check Availability</span></a>
                        <i class="fas fa-arrow-circle-right"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box flex">
                    <div class="left">
                      <img src="static/room2.jpeg" alt="">
                    </div>
                    <div class="right">
                      <h4>Deluxe Room</h4>
                      <div class="rate flex">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                      <p> Description.</p>
                      <h5>Cost/Night</h5>
                      <button class="flex1"><a href="/reservation"> 
                        <span>Check Availability</span></a>
                        <i class="fas fa-arrow-circle-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </section>
        <section id="book">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial scale=1.0">
                <title>Room Reservation</title>
                <link rel="stylesheet" href="static\styles.css">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
            </head>
            <body>
                <div class="container">
                    <form class="form-group">
                        <div id="form">
                            <h1 class="text-white text-center">Book Now</h1>
            
                            <div id="first-group">
                                <div id="content">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <input type="text" id= "input-group" placeholder="First Name">
                                </div>   
                                <div id="content">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <input type="number" id= "input-group" placeholder="Phone Number">
                                </div>
                                <div id="content">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <input type="text" id= "input-group" placeholder="Arrival Date mm/dd/yyyy">
                                </div>   
                                <div id="content">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <select id="input-group" style="background-color: black;">
                                        <option value="">Number of guests</option>
                                        <option value="">1-2</option>
                                        <option value="">3-6</option>
                                    </select>
                                </div> 
                            </div>
            
                            <div id="second-group">
                                <div id="content">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <input type="text" id= "input-group" placeholder="Last Name">
                                </div> 
                                <div id="content">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <input type="email" id= "input-group" placeholder="Email Address">
                                </div> 
                                <div id="content">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <input type="text" id= "input-group" placeholder="Departure Date  mm/dd/yyyy">
                                </div> 
                                <div id="content">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <select id="input-group" style="background-color: black;">
                                        <option value="">Room Type</option>
                                        <option value="">Smoking/Single Bed</option>
                                        <option value="">Non-smoking</option>
                                    </select>
                                </div> 
                            </div>
            
                            <button type="submit" value="Submit" id="submit-btn">Book Now</button>
            
                        </div>
                    </form>
            </body>
        </section>
        <section id="Profile">
          <link rel="stylesheet" href="static\style.css">
          <body>
            <div class="hero">
              <nav>
                <img src="static/user.png" class="logo">
                <ul>
                  <li>
                </ul>
                <img src="static/user.png" class="user-pic">
              </nav>
            </div>
          </body>
        </section>
        
