<html>
<head>
        <title>Hotel</title>
        <link rel="stylesheet" href="static\styles.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="static\logo.png" class="logo">
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#Rooms">Rooms</a></li>
                <li><a href="#Events">Events</a></li>
                <li><a href="#Contact Us">Contact Us</a></li>
                <li><a href="#BOOK NOW!">BOOK NOW!</a></li>
            </ul>   
        </div>
        
        <div class="content">
            <h1>Welcome to our Hotel</h1>
            <p>Hope you enjoy your stay with us!</p>
            <div>
                
            </div>    
    </div>
</body>      
</html>
