<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hotel</title>
        <link rel="stylesheet" href="C:\Users\Alex\Documents\GitHub\351project\main\static\styles.css">
    </head>
    <body>
      <section id="Home">
        <header>
            <div class="banner">
                <div class="navbar">
                    <img src="static\logo123.png" class="logo">
                    <ul>
                        <li><a href="#Home">Home</a></li>
                        <li><a href="#Rooms">Rooms</a></li>
                        <li><a href="#book">BOOK NOW!</a></li>
                        <li>{% if user.is_authenticated %}
                <a href="#Profile">Profile</a></p>
            {% else %}
                <a href="/login">Profile</a></p>
            {% endif %}</li>
                    </ul>   
                </div>
                
                <div class="content">
                    <h1>Welcome to i-Mann Hotel</h1>
                    <h2>Hope you enjoy your stay with us!</h2>
                    {% if user.is_authenticated %}
                <p>Log out <a href="/logout">Here</a></p>
            {% else %}
                <p>Log in <a href="/login">Here</a></p>
            {% endif %}
                    <div>
                        
                    </div>    
            </div>
        </header>
    </section>
        <section class="offer mtop" id="Rooms">
            <link rel="stylesheet" href="static\book.css">
            <div class="cont">
                <div class="heading">
                  <h5>CUSTOMER FAVORITES</h5>
                  <h3>Check out our best seller rooms!</h3>
                </div>
          
                <div class="content grid2 mtop">
                  <div class="box flex">
                    <div class="left">
                      <img src="static/room1.jpg" alt="">
                    </div>
                    <div class="right">
                      <h4>iMann Suite 1</h4>
                      <div class="rate flex">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <p> A comfortable double bed room with an immaculate veiw of the ocean. This room is smoking.</p>
                      <h5>$200/Night</h5>
                      <form method = "post", action ="/viewRoom/", id = "roomNumb">
                        {% csrf_token %}
                        <input type = "hidden" id = "room_numb" name = "room_numb" value = 3> 
                      <button class="flex1"> 
                        <span>Check Availability</span></a>
                        <i class="fa fa-arrow-circle-right"></i>
                      </button>
                    </form>
                    </div>
                  </div>
                  <div class="box flex">
                    <div class="left">
                      <img src="static/room2.jpeg" alt="">
                    </div>
                    <div class="right">
                      <h4>TCP Dreams</h4>
                      <div class="rate flex">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                      <p> Double bed room with an amazing view, connected to a kids room. This room is anti-smoking</p>
                      <h5>$300/Night</h5>
                      <form method = "post", action ="/viewRoom/", id = "roomNumb">
                        {% csrf_token %}
                        <input type = "hidden" id = "room_numb" name = "room_numb" value = 4> 
                      <button class="flex1"> 
                        <span>Check Availability</span></a>
                        <i class="fa fa-arrow-circle-right"></i>
                      </button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
          </section>
        
        <section id="book">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial scale=1.0">
                <title>Room Reservation</title>
                <link rel="stylesheet" href="static\styles.css">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
            </head>
            <body>
                <div class="container">
                    <form method = "POST" , id = "reservationForm", action = "reservations/">
                      {% csrf_token %}
                        <div id="form">
                            <br>
                            <br>
                            <h1 class="text-white text-center">Book Now</h1>
                            
                            <div id="first-group">  
                                <div id="content">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <text style = "color:white"> Check-in date </text>
                                    <!-- <input type="date" id= "start_date" placeholder="Arrival Date mm/dd/yyyy"> -->
                                    <input id = "start_date" name = "start_date" type = "date" value = "start_date">
                                </div>
                                <div id="content">
                                    <i class="fa fa-exclamation" aria-hidden="true"></i>
                                    <select name="Smoking" id="Smoking">
                                        <option value="True">Smoking</option>
                                        <option value="True">Yes</option>
                                        <option value="False">No</option>
                                    </select>
                                </div> 
                            </div>
            
                            <div id="second-group">
                                <div id="content">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <text style = "color:white"> Check-out date </text>
                                    <!-- <input type="date" id= "end_date" placeholder="Departure Date  mm/dd/yyyy"> -->
                                    <input id = "end_date" name = "end_date" type = "date" value = "end_date">
                                </div> 
                                <div id="content">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <select name="Single" id="Single">
                                        <option value ="True" style = "color:black">Room type</option>
                                        <option value="True" style = "color:black">Single</option>
                                        <option value="False" style = "color:black">Double</option>
                                    </select>
                                </div> 
                            </div>
                            <button type="submit" value="Submit" id="submit-btn">Book Now</button>
            
                        </div>
                    </form>
            </body>
        </section>
        {% if user.is_authenticated %}
        <section id="Profile">
          <link rel="stylesheet" href="static\styles.css">
          <body>
            <div class="rounded bg-white mt-5 mb-5">
              <div class="row">
                  <div class="col-md-3 border-right">
                      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="static/user.png"><span class="font-weight-bold">{{first_name}} {{last_name}}</span><span class="text-black-50"></span><span> </span></div>
                  </div>
                  <div class="col-md-5 border-right">
                      <div class="p-3 py-5">
                          <div class="d-flex justify-content-between align-items-center mb-3">
                              <h4 class="text-right">Profile</h4>
                          </div>
                          <div class="row mt-2">
                              <div class="col-md-6"><label class="labels">Name: {{first_name}}</label></div>
                              <div class="col-md-6"><label class="labels">Surname: {{last_name}}</label></div>
                          </div>
                          <div class="row mt-3">
                              <div class="col-md-12"><label class="labels">UserName: {{username}}</label></div>
                              <div class="col-md-12"><label class="labels">Email ID: {{email}}</label></div>
                              <div class = "col-md-12"><label class = "labels">History of Bookings: </label></div>
                              {% for booking in user.history_set.all%}
                               - {{booking.room_id}} <br> {{booking.days_spent}} days spent <br> Review was: "{{booking.review}}" <br><br>
                              {% endfor %}
                              
                          </div>
                          <br>
                          <button> Edit profile </button>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          </div>
          </body>
        </section>
        {% endif %}
        
