<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel = "stylesheet" href = "/static/styles.css">
        <meta charset="UTF-8">
        <title>Hotel</title>
       
        
    </head>
    <body>
      <section id="Home">
        <header>
            <div class="banner">
                <div class="navbar">
                    <img src="/static/logo123.png" class="logo">
                    <ul>
                        <li><a href="/#Home">Home</a></li>
                        <li><a href="/#Rooms">Rooms</a></li>
                        <li><a href="/#book">BOOK NOW!</a></li>
                        <li><a href="/#Profile">Profile</a></li>
                    </ul>   
                    
                </div>
        
<div class = "content">
<title>INVALID DATE INPUT</title>
<h2>Invalid Date Input</h2>
You have entered a reservation that begins after the current date, or that ends before the start date. Or there already exists a reservation at this time. Please select a valid date and <a href = "/#book">try again</a>
</div>