<img src="static/user.png" class="user-pic" onclick="toggleMenu()">

                        <div class="sub-menu-wrap" id="subMenu">
                          <div class="sub-menu">
                            <div class="user-info">
                              <img src="static/user.png" class="user-pic">
                              <h2>Get Name</h2>
                            </div>
                            <hr>

                            <a href="#" class="sub-menu-link">
                              <img src="static/user.png" class="user-pic">
                              <p>Edit Profile</p>
                              <span>></span>
                            </a>
                            <a href="#" class="sub-menu-link">
                              <img src="static/user.png" class="user-pic">
                              <p>History</p>
                              <span>></span>
                            </a>
                            <a href="/signout" class="sub-menu-link">
                              <img src="static/user.png" class="user-pic">
                              <p>Sign Out</p>
                              <span>></span>
                            </a>

                          </div>
                        </div> 
                      </div>