{% extends "main/base.html" %}

<title>{% block title %}
Reserve
{% endblock %}</title>

{% block content %}

<h1>Reservation page</h1>

<body>Please fill the below criteria according to your preference. The rooms will be shown accordingly.</body>


<div>

<br>
<br>
<form method="post" action="\main\templates\main\roomShow">
    <label for="Single">Single:</label>

<select name="Single" id="Single">
  <option value=true>Yes</option>
  <option value=false>No</option>

</select>
<br>
<br>
<label for="Smoking">Smoking:</label>

<select name="Smoking" id="Smoking">
  <option value=true>Yes</option>
  <option value=false>No</option>

</select>
    <button class="button button1", type="submit", name = "save"> Search </button>
</form>

</div>
{% endblock %}


