{% extends "main\base.html" %}
{% block title %}
Available rooms
{% endblock %}

{% block content %}
<h1>Available Rooms</h1>

{% for room in rooms %}
    {% if smoking == "True" and room.smoking%}
    {% if single == "True" and room.single%}
    <p> <a href = /roomShow/{{room.room_number}}> Room {{room.room_number}} </a></p>
    <br>
    {% elif single == "False" and not room.single%}
    <p> <a href = /roomShow/{{room.room_number}}> Room {{room.room_number}} </a></p>
    <br>
    {% endif %}
{% elif smoking == "False" and not room.smoking%}
    {% if single == "True" and room.single%}
    <p> <a href = /roomShow/{{room.room_number}}> Room {{room.room_number}} </a></p>
    <br>
    {% elif single == "False" and not room.single%}
    <p> <a href = /roomShow/{{room.room_number}}> Room {{room.room_number}} </a></p>
    <br>
    {% endif %}
{% endif %}
{% endfor %}


{% endblock %}