{% extends 'main/base.html' %}
{% block title %}

{% endblock %}

{% block content %}
<form method = "post", action ="reservations/", id = "reservationForm">
    {% csrf_token %}
    <input id = "start_date" name = "start_date" type = "date" value = "start_date">
    <input id = "end_date" name = "end_date" type = "date" value = "end_date">
    <select name="Single" id="Single">
        <option value="True">Yes</option>
        <option value="False">No</option>
      
      </select>
      <select name="Smoking" id="Smoking">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>
    <button class="button button1", type="submit", name = "book", form = "reservationForm"> Book now! </button>
</form>

{% endblock %} 