{% extends 'main/base.html' %}
{% block title %}
Room {{ls.room_number}}
{% endblock %}

{% block content %}


<p>Welcome to room {{ls.room_number}}</p>
{% csrf_token %}
<br>
<p>Price per night: {{ls.price_per_night}}</p>
<br>
<p>Single: {{ls.single}}</p>
<br>
<p>Smoking: {{ls.smoking}} </p>
<br>
<p>Stars: {{ls.stars}}</p>
<br>
<form method = "post", action ="checkout\", id = "roomRes">
    {{form.hidden_tag()}}
<input id = "room_number" name = "room_number" type = "hidden" value = "{{ls.room_number}}">
<button class="button button1", type="submit", name = "book", form = "roomForm"> Book now! </button>
</form>
{% endblock %}